@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #24354b;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.language-switcher-button {
  width: 50px;
}

.language-switcher-button:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

header {
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 65px;
  background: rgba(255, 255, 255, 0.2);
}

header nav {
  margin: 1vh auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul li {
  padding: 0 1.5rem;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.static {
  background: rgba(255, 0, 0, 1);
  padding: 65px 0;
  background-attachment: fixed;
}

.headline {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  font-weight: bolder;
  font-size: 46px;
  padding-bottom: 15px;
}

.sub-headline {
  text-transform: uppercase;
  font-family: Vollkorn, serif;
  font-weight: bolder;
  font-size: 32px;
  padding-bottom: 10px;
}

.headline-image {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/parallax/picture1.jpg");
  background-position: 43% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.headline-text-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 100%;
}

.headline-text {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/parallax/picture1-2.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.second-image {
  padding: 0 0 10px;
  background-color: #fff;
  justify-content: space-around;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  display: flex;
}

.three-images {
  margin: 10px;
  background-size: cover;
  background-attachment: initial;
  width: 33.33%;
  height: 98%;
}

.image14 {
  background-image: url("assets/images/parallax/picture2-1.jpg");
  background-position: 45%;
}

.image12 {
  background-image: url("assets/images/parallax/picture2-2.jpg");
  background-position: 45%;
}

.image24 {
  background-image: url("assets/images/parallax/picture2-3.jpg");
  background-position: 50%;
}

a.register-button {
  height: 50px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  background-color: #24354b;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

a.register-button .register-button-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(100%)
    contrast(105%);
  height: 20px;
}

a.register-button-big {
  position: absolute;
  width: 320px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  background-color: #24354b;
  color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  font-size: 40px;
  bottom: 10vh;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}

a.register-button-big .register-button-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(100%)
    contrast(105%);
  height: 60px;
}

.our-story {
  background-color: #ffffff;
  color: #24354b;
}

.our-story .text {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-align: justify;
  width: 70%;
  padding-bottom: 0.5rem;
  margin: auto;
  font-family: Mandali, serif;
  color: #24354b;
}

.the-wedding {
  background-color: #24354b;
  color: #fff;
}

.the-wedding a {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}

.the-wedding .small {
  font-size: 20px;
}

#the-wedding-headline {
  padding-bottom: 0;
}

.ceremony-date {
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: Mandali, serif;
  width: 100%;
}

.rsvp-section {
  position: relative;
  background-color: #fff;
  color: #333000;
  height: 100vh;
}

.rsvp-section .text-section {
  padding: 10px 35px;
  text-align: left;
  position: absolute;
  float: left;
  width: 50%;
  z-index: 10;
}

#rsvp-section-text {
  color: #24354b;
  font-family: Vollkorn, serif;
  font-size: 38px;
  margin: 10px;
}

.rsvp-section .image-section {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("assets/images/parallax/picture3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: initial;
}

a {
  text-decoration: underline dotted;
}

.map {
  color: black;
}

#map {
  margin: auto;
  height: 50vh;
  width: 100%;
}

.accomodations {
  position: relative;
  background-color: #24354b;
  color: #fff;
  padding: 65px 0;
}

.accomodations .headline {
  margin: auto;
  width: 70%;
  padding: 1rem 0 2rem;
}

.accomodations-spacer {
  width: 3%;
}

.sub-headline {
  hyphens: auto;
}

.accomodations .text {
  margin: auto;
  width: 70%;
  line-height: 26px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.picture-container {
  width: 48%;
  display: flex;
}

.text-container {
  width: 30%;
}

.accomodations .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.getting-there-picture {
  object-position: 48%;
}

.getting-there-text-container .text {
  padding-bottom: 0.5rem;
}

a.recommendation-button-big {
  max-width: 320px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  background-color: #fff;
  color: #24354b;
  padding: 10px;
  border-radius: 30px;
  font-size: 28px;
  bottom: 10vh;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}

.hotel-recommendations-button-container {
  width: 100%;
  white-space: pre-wrap;
}

.hotel-recommendations-headline {
  text-align: center;
}

.recommendation-image-link {
  color: rgba(255, 255, 255, 0.8);
}

.visiting-container .text-container .text {
  width: 100%;
}

.adventure-container {
  background-color: #ffffff;
  color: #24354b;
  padding: 3%;
}

.adventure-text-container {
  width: 70%;
  margin: auto;
}

.adventure-text-container .text {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin: auto;
  font-family: Mandali, serif;
  color: #24354b;
}

.adventure-list .sub-headline {
  padding-top: 2rem;
}

.adventure-text-container .headline {
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  font-weight: bolder;
  font-size: 46px;
  padding-bottom: 15px;
}

.mucuyche {
  display: flex;
  justify-content: center;
}

.mucuyche .text-container {
  width: 50%;
}

.adventure-spacer {
  width: 3%;
}

.mucuyche .picture-container {
  padding-top: 2rem;
  width: 48%;
  display: flex;
}

.mucuyche .mucuyche-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.timeline {
  width: 70%;
  margin: auto;
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #82965a;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 10px 30px 110px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 52px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #82965a;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: 59px;
  right: 8px;
  background: #82965a;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: Mandali, serif;
  z-index: 1;
}

.container.left .date {
  right: calc(-100% - 20px);
  text-align: left;
}

.container.right .date {
  left: calc(-100% - 20px);
  text-align: right;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 10px;
  background: #24354b;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
  width: auto;
  height: 100px;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
  text-align: left;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #f6d155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #82965a;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.timeline-time {
  padding-bottom: 10px;
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  a.recommendation-button-big {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  a.recommendation-button-big {
    font-size: 28px;
  }

  .flex-container {
    display: grid;
  }

  .visiting-container {
    display: block;
  }

  .adventure-text-container {
    width: 100%;
  }

  .visiting-container .picture-container {
    width: 100%;
    padding-bottom: 2rem;
  }

  .visiting-container .text-container {
    width: 100%;
  }

  .hotel-recommendations-picture-container {
    order: 1;
  }

  .hotel-recommendations-text-container {
    order: 2;
  }

  .mucuyche {
    display: block;
  }

  .mucuyche .picture-container {
    width: 100%;
  }

  .mucuyche .text-container {
    width: 100%;
  }

  .hotel-recommendations-list-wrapper {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 50%;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container .date {
    width: auto;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: calc(30% - 8px);
  }

  .container.left::before,
  .container.right::before {
    display: none;
    left: 100px;
    border-color: transparent #82965a transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: calc(30% + 20px);
  }

  .container.right .date {
    text-align: left;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: calc(30% - 120px);
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }

  .timeline::after {
    left: 30%;
  }
}

@media (max-width: 700px) {
  #rsvp-section-text {
    font-size: 34px;
  }

  .timeline {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #rsvp-section-text {
    font-size: 32px;
  }

  .hotel-recommendations-image-wrapper {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  #rsvp-section-text {
    font-size: 30px;
  }

  .language-switcher-button {
    width: 40px;
  }

  header ul li {
    padding: 0 0.5rem;
  }
}

@media (max-width: 510px) {
  #rsvp-section-text {
    font-size: 28px;
  }
}

@media (max-width: 470px) {
  #rsvp-section-text {
    font-size: 26px;
  }

  .hotel-recommendations-image-wrapper {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 420px) {
  #rsvp-section-text {
    font-size: 24px;
  }

  header nav {
    padding: 0 1rem;
  }
}

@media (max-width: 420px) {
  #rsvp-section-text {
    font-size: 24px;
  }

  .rsvp-section .text-section {
    padding: 10px 35px;
    text-align: left;
    position: absolute;
    float: left;
    width: 50%;
    z-index: 10;
  }

  .container.left::after,
  .container.right::after {
    left: calc(40% - 8px);
  }

  .container.left .date,
  .container.right .date {
    left: calc(40% + 20px);
  }

  .container.left .icon,
  .container.right .icon {
    left: calc(40% - 120px);
  }

  .timeline::after {
    left: 40%;
  }
}

@media (max-width: 380px) {
  .rsvp-section .image-section {
    width: 100%;
    left: 0%;
    background-image: url("assets/images/parallax/picture3.jpg");
    opacity: 35%;
  }

  #rsvp-section-text {
    font-size: 37px;
  }

  .rsvp-section .text-section {
    padding: 10px 35px;
    text-align: left;
    position: absolute;
    float: left;
    width: 100%;
    z-index: 10;
  }

  .container.left::after,
  .container.right::after {
    left: calc(50% - 8px);
  }

  .container.left .date,
  .container.right .date {
    left: calc(50% + 20px);
  }

  .container.left .icon,
  .container.right .icon {
    left: calc(50% - 120px);
  }

  .timeline::after {
    left: 50%;
  }

  .container {
    top: 50px;
    height: 200px;
  }
}

@media (orientation: portrait) {
  .headline-text-container {
    width: 100%;
    top: 20%;
  }

  #map {
    width: 100%;
  }
}
