@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #222;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.language-switcher-button {
  width: 50px;
}

.language-switcher-button:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

header {
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
}

header nav {
  margin: 1vh auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul li {
  padding: 0 1.5rem;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.static {
  background: rgba(255, 0, 0, 1);
  padding: 65px 0;
  background-attachment: fixed;
}

.headline {
  width: 75%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  font-weight: bolder;
  font-size: 46px;
  padding-bottom: 15px;
}

.sub-headline {
  text-transform: uppercase;
  font-family: Vollkorn, serif;
  font-weight: bolder;
  font-size: 32px;
  padding-bottom: 10px;
}

.headline-image {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/parallax/picture1.jpg");
  background-position: 43% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.headline-text-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 100%;
}

.headline-text {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/parallax/picture1-2.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.second-image {
  padding: 0 0 10px;
  background-color: #fff;
  justify-content: space-around;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  display: flex;
}

.three-images {
  margin: 10px;
  background-size: cover;
  background-attachment: initial;
  width: 33.33%;
  height: 98%;
}

.image14 {
  background-image: url("assets/images/parallax/picture2-1.jpg");
  background-position: 45%;
}

.image12 {
  background-image: url("assets/images/parallax/picture2-2.jpg");
  background-position: 45%;
}

.image24 {
  background-image: url("assets/images/parallax/picture2-3.jpg");
  background-position: 50%;
}

a.register-button {
  height: 50px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  background-color: #24354b;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

a.register-button .register-button-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(100%)
    contrast(105%);
  height: 20px;
}

a.register-button-big {
  position: absolute;
  width: 320px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  background-color: #24354b;
  color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  font-size: 40px;
  bottom: 10vh;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}

a.register-button-big .register-button-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(100%)
    contrast(105%);
  height: 60px;
}

.our-story {
  background-color: #ffffff;
  color: #24354b;
}

.our-story .text {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.2px;
  width: 70%;
  margin: auto;
  font-family: Mandali, serif;
  color: #24354b;
}

.the-wedding {
  background-color: #24354b;
  color: #fff;
}

.the-wedding .text {
  text-align: center;
  font-family: Vollkorn, serif;
  font-size: 38px;
  margin: 10px;
  color: #fff;
}

.the-wedding .location-kantoyna {
  color: #fff;
}

.the-wedding .small {
  font-size: 20px;
}

.rsvp-section {
  position: relative;
  background-color: #fff;
  color: #333000;
  height: 100vh;
}

.rsvp-section .text-section {
  padding: 20vh 35px;
  text-align: left;
  position: absolute;
  float: left;
  width: 40%;
  z-index: 10;
}

#rsvp-section-text {
  color: #24354b;
  font-family: Vollkorn, serif;
  font-size: 38px;
  margin: 10px;
}

.rsvp-section .image-section {
  width: 55%;
  height: 100%;
  position: absolute;
  left: 45%;
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("assets/images/parallax/picture3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: initial;
}

a {
  text-decoration: underline dotted;
}

.map {
  color: black;
}

#map {
  margin: auto;
  height: 50vh;
  width: 60%;
}

.accomodations {
  position: relative;
  background-color: #24354b;
  color: #fff;
  padding: 65px 0;
}

.accomodations .headline {
  margin: auto;
  width: 70%;
  padding: 1rem 0 2rem;
}

.accomodations-spacer {
  width: 3%;
}

.sub-headline {
  hyphens: auto;
}

.accomodations .text {
  margin: auto;
  width: 70%;
  line-height: 26px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.picture-container {
  width: 48%;
  display: flex;
}

.text-container {
  width: 30%;
}

.accomodations .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.getting-there-picture {
  object-position: 48%;
}

.hotel-recommendations-picture {
  object-position: 35%;
}

.visiting-container .text-container .text {
  width: 100%;
}

.adventure {
  background-color: #ffffff;
  color: #24354b;
}

.adventure .headline {
  width: 75%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: Homenaje, sans-serif;
  font-weight: bolder;
  font-size: 46px;
  padding-bottom: 15px;
}

.adventure .text {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.2px;
  width: 70%;
  margin: auto;
  font-family: Mandali, serif;
  color: #24354b;
}

@media (max-width: 900px) {
  .flex-container {
    display: grid;
  }

  .visiting-container {
    display: block;
  }

  .visiting-container .picture-container {
    width: 100%;
    padding-bottom: 2rem;
  }

  .visiting-container .text-container {
    width: 100%;
  }

  .hotel-recommendations-picture-container {
    order: 1;
  }

  .hotel-recommendations-text-container {
    order: 2;
  }
}

@media (max-width: 770px) {
  .the-wedding .text {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  #rsvp-section-text {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .the-wedding .text {
    font-size: 20px;
  }

  #rsvp-section-text {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .language-switcher-button {
    width: 40px;
  }

  header ul li {
    padding: 0 0.5rem;
  }
}

@media (max-width: 500px) {
  #rsvp-section-text {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  header nav {
    padding: 0 1rem;
  }
}

@media (orientation: portrait) {
  .headline-text-container {
    width: 100%;
    top: 20%;
  }

  #map {
    width: 100%;
  }
}
